#page-landing {
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
  text-align: center;
  min-height: 100vh;
  display: flex;
}

#countainer {
  margin: auto;
  width: min(90%, 112rem);
}

.location,
h1,
.visit p {
  height: 16vh;
}

#logo {
  animation-delay: 50ms;
}

.location{
  animation-delay: 100ms;
}


main h1 {
  font-size: clamp(
    4rem,
    8vw,
    8.4rem
  ); /*Coloca limitação na funte, onde 0 8vw é o ideal os demais é o extramo*/
}

.visit p {
  animation-delay: 200ms;
}

.visit a {
    width: 8rem;
    height: 8rem;
    background: #ffd666;

    border: none;
    border-radius: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;

    transition: background 200ms;
    animation-delay: 250ms;
  }

  .visit a:hover {
    background: #96feff;
  }

/* Desktop Version */
@media (min-width: 760px) {
  #countainer {
    padding: 5rem 2rem; /*Cria uma borda para que a imagem possa se espandir e preencher toda a sua área*/
    /*shirthand bacground : image repeat position / size */
    background: url("../images/bg.svg") no-repeat 80% /
      clamp(30rem, 54vw, 56rem);
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between; /*Coloca em uma linha justificada*/
  }

  .location,
  h1,
  .visit p {
    height: initial;
    text-align: initial;
  }

  .location {
    font-size: 2.4rem;
    line-height: 1.5;
    animation-delay: 100ms;
  }



  .location {
    text-align: right;
    font-size: 2.4rem;
    line-height:1.5;
  }

  main h1 {
    font-weight: bold;
    line-height: 0.88; /*Da uma separação*/
    margin: clamp(10%, 9vh, 12%) 0 4rem; /*clamp() usado para colocar limitações de max e min*/
    width: min(300px, 80%); /*Limita o tamanho que o o campo vai ocupar*/
  }

  .visit {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .visit p {
    font-size: 2.4rem;
    line-height: 1.5;
    width: clamp(20rem, 20vw, 30rem);
  }
  

  .visit a {
    margin: initial;
  }
}







